@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/Inter-Medium.ttf);
}

body {
	background: linear-gradient(15deg, #F99417 50%, #5D3891 50.1%);
	font-family: "Inter";
}
