@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "Inter";
    src: url(./assets/fonts/Inter-Medium.ttf) format("truetype");
    font-weight: 500;
    font-display: swap;
}

body {
	background: linear-gradient(15deg, #F99417 50%, #5D3891 50.1%);
	font-family: "Inter", system-ui, -apple-system, "Segoe UI", sans-serif;
}
